version: "3.9"

services:
  localstack:
    image: localstack/localstack:3.0
    container_name: localstack
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3
      - DEBUG=1
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - AWS_DEFAULT_REGION=us-east-1
    volumes:
      - "./.localstack:/var/lib/localstack"
    networks:
      - app-network
  ingestion-app:
    image: ingestion:latest
    container_name: ingestion-app
    environment:
      - S3_ENDPOINT_URL=http://localstack:4566
    ports:
      - "7070:7070"
    depends_on:
      - localstack
    volumes:
      - ingestion:/app
    networks:
      - app-network
networks:
  app-network:
volumes:
  ingestion:
